@model DrunkenChair.Models.CharacterBasicDetails

@{
    ViewBag.Title = "Karaktärsgrunder";

    var labelAttributes = new { @class = "control-label col-md-2"};
    var dropdownListAttributes = new { @class = "form-control", data_action_url = Url.Action("GetCharacterPreview", "EonIvCharacters") };
}

<h2>Karaktärsgrunder</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Karaktärsgrunder</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            @Html.LabelFor(model => model.Background, htmlAttributes: labelAttributes)
            <div>
                @Html.RadioButtonFor(model => model.Background, dropdownListAttributes)
            </div>

            @Html.LabelFor(model => model.Archetype, htmlAttributes: labelAttributes)
            <div>
                @Html.DropDownListFor(model => model.selectedArchetype, Model.Archetypes, dropdownListAttributes)
            </div>
            
            <br />

            @Html.LabelFor(model => model.Race, htmlAttributes: labelAttributes)
            <div>
                @Html.DropDownListFor(model => model.selectedRace, Model.Races, dropdownListAttributes)
            </div>

            <br />

            @Html.LabelFor(model => model.Environment, htmlAttributes: labelAttributes)
            <div>
                @Html.DropDownListFor(model => model.selectedEnvironment, Model.Environments, dropdownListAttributes)
            </div>

        </div>

        <div id="divCharacterPreview">
            @{Html.RenderPartial("CharacterPreview", Model.CharacterConstructionSite);}
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="@Url.Content("~/js/EonIvCharacters/create.js")"></script>
}
