@model Niklasson.EonIV.CharacterGeneration.Contracts.CharacterSheet

<div style="display:inline">
    <div style="float:left">
        @Html.DisplayFor(model => model.Attributes)
        @Html.DisplayFor(model => model.Archetype)
        @Html.DisplayFor(model => model.Background)
        @Html.DisplayFor(model => model.Environment)
        @Html.DisplayFor(model => model.Race)
    </div>
</div>
