@model Niklasson.EonIV.Models.BusinessObjects.CharacterAttributeSet

<table border="1">
    <tr>
        <th colspan="2">
            Grundattribut
        </th>
        <th colspan="2">
            Härledda attribut
        </th>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Strength)
        </td>
        <td>
            @Html.DisplayFor(model => model.Strength)
        </td>
        <td>
            @Html.LabelFor(model => model.Movement)
        </td>
        <td>
            @Html.DisplayFor(model => model.Movement)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Stamina)
        </td>
        <td>
            @Html.DisplayFor(model => model.Stamina)
        </td>
        <td>
            @Html.LabelFor(model => model.Impression)
        </td>
        <td>
            @Html.DisplayFor(model => model.Impression)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Agility)
        </td>
        <td>
            @Html.DisplayFor(model => model.Agility)
        </td>
        <td>
            @Html.LabelFor(model => model.Build)
        </td>
        <td>
            @Html.DisplayFor(model => model.Build)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Perception)
        </td>
        <td>
            @Html.DisplayFor(model => model.Perception)
        </td>
        <td>
            @Html.LabelFor(model => model.Lifeforce)
        </td>
        <td>
            @Html.DisplayFor(model => model.Lifeforce)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Will)
        </td>
        <td>
            @Html.DisplayFor(model => model.Will)
        </td>
        <td>
            @Html.LabelFor(model => model.Reaction)
        </td>
        <td>
            @Html.DisplayFor(model => model.Reaction)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Psyche)
        </td>
        <td>
            @Html.DisplayFor(model => model.Psyche)
        </td>
        <td>
            @Html.LabelFor(model => model.Selfcontrol)
        </td>
        <td>
            @Html.DisplayFor(model => model.Selfcontrol)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Wisdom)
        </td>
        <td>
            @Html.DisplayFor(model => model.Wisdom)
        </td>
        <td>
            @Html.LabelFor(model => model.Vigilance)
        </td>
        <td>
            @Html.DisplayFor(model => model.Vigilance)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Charisma)
        </td>
        <td>
            @Html.DisplayFor(model => model.Charisma)
        </td>
    </tr>
</table>
