@model Niklasson.EonIV.CharacterGeneration.Contracts.EventTableRolls

<table>
    <caption>Slag på händelsetabeller</caption>
    <tbody>
        <tr>
            <td>@Html.LabelFor(m => m.TravlesAndAdventures)</td>
            <td>@Html.DisplayFor(m => m.TravlesAndAdventures)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.IntrigueAndIlldeads)</td>
            <td>@Html.DisplayFor(m => m.IntrigueAndIlldeads)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.KnowledgeAndMysteries)</td>
            <td>@Html.DisplayFor(m => m.KnowledgeAndMysteries)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.BattlesAndSkirmishes)</td>
            <td>@Html.DisplayFor(m => m.BattlesAndSkirmishes)</td>
        </tr>
    </tbody>
</table>