@model Niklasson.DrunkenChair.Models.RolledEvents 

<h4>Färder @Html.Raw("&") Äventyr</h4>
@Html.DisplayFor(m => m.Travels)
<br />

<h4>Intriger @Html.Raw("&") Illdåd</h4>
@Html.DisplayFor(m => m.Intrigue)
<br />

<h4>Kunskap @Html.Raw("&") Mysterier</h4>
@Html.DisplayFor(m => m.Knowledge)
<br />

<h4>Strider @Html.Raw("&") Drabbningar</h4>
@Html.DisplayFor(m => m.Battles)