@model Niklasson.EonIV.CharacterGeneration.Contracts.Skillpoints

<table>
    <caption>Enheter att spendera på färdigheter</caption>
    <tbody>
        <tr>
            <td>@Html.LabelFor(m => m.Battle)</td>
            <td>@Html.DisplayFor(m => m.Battle)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Movement)</td>
            <td>@Html.DisplayFor(m => m.Movement)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Mystic)</td>
            <td>@Html.DisplayFor(m => m.Mystic)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Social)</td>
            <td>@Html.DisplayFor(m => m.Social)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Wilderness)</td>
            <td>@Html.DisplayFor(m => m.Wilderness)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.FreeChoise)</td>
            <td>@Html.DisplayFor(m => m.FreeChoise)</td>
        </tr>
    </tbody>
</table>