@model Niklasson.DrunkenChair.Models.RolledEvents 

@{
    object attributes = new {type = "button"};
 
    <h4>Färder @Html.Raw("&") Äventyr</h4>
    @Html.EditorFor(m => m.Travels) @Html.Button("Slå valfri", attributes)
    <br />

    <h4>Intriger @Html.Raw("&") Illdåd</h4>
    @Html.EditorFor(m => m.Intrigue) @Html.Button("Slå valfri", attributes)
    <br />

    <h4>Kunskap @Html.Raw("&") Mysterier</h4>
    @Html.EditorFor(m => m.Knowledge) @Html.Button("Slå valfri", attributes)
    <br />

    <h4>Strider @Html.Raw("&") Drabbningar</h4>
    @Html.EditorFor(m => m.Battles) @Html.Button("Slå valfri", attributes)
}