@model Niklasson.DrunkenChair.Models.CharacterEventDetails

@{
    ViewBag.Title = "Händelser";
}

<h2>Händelser</h2>


@using (Html.BeginForm("CharacterEventDetails", "EonIvCharacterCreator", FormMethod.Post, new { style = "display:inline-block; width:50%" }))
{
    <div>
        Valfria slag: @Html.DisplayFor(m => m.FreeEventRolls)
        @Html.HiddenFor(m => m.FreeEventRolls)
        @Html.ValidationMessageFor(m => m.FreeEventRolls)
        @Html.EditorFor(m => m.RolledEvents)
    </div>   

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="previousButton" value="Previous" class="btn btn-default" />
            <input type="submit" name="nextButton" value="Next" class="btn btn-default" />
        </div>
    </div>
}
    <div style="display:inline-block">
        @Html.DisplayFor(m => m.CharacterConstructionSite)
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/js/EonIvCharacters/characterEventDetails.js")"></script>

}
