@model Niklasson.DrunkenChair.Models.CharacterBasicDetails

@{
    ViewBag.Title = "Karaktärsgrunder";
}

<h2>Karaktärsgrunder</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Karaktärsgrunder</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.EditorFor(m => m);
        </div>

        <div id="divCharacterPreview">
            @{Html.RenderPartial("CharacterPreview", Model.CharacterConstructionSite);}
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="nextButton" value="Next" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="@Url.Content("~/js/EonIvCharacters/create.js")"></script>
}