@model Niklasson.EonIV.Models.BusinessObjects.CharacterModifierContainerSingleChoice

<div>
    @{
        if (Model.Children.Count == 1)
        {
            <br />
            @Html.EditorFor(m => m.Children)
        }
        else
        {
            for (int i = 0; i < Model.Children.Count(); i++)
            {
                <br />
                @Html.RadioButtonFor(m => m.SelectedAlternativeIndex, i) @Html.EditorFor(m=> m.Children[i])
            }
            @Html.ValidationMessageFor(m => m.SelectedAlternativeIndex)
        }
    }
    @Html.HiddenFor(m => m.ConcreteModelType)
</div>
