@model Niklasson.EonIV.Models.BusinessObjects.EventTableRolls

<table>
    <tbody>
        @if(Model.TravlesAndAdventures > 0)
        {
            <tr>
                <td>@Html.DisplayNameFor(m => m.TravlesAndAdventures)</td>
                <td>@Html.DisplayFor(m => m.TravlesAndAdventures)</td>
                <td>@Html.HiddenFor(m => m.TravlesAndAdventures)</td>
            </tr>
        }
        @if (Model.IntrigueAndIlldeads > 0)
        {
            <tr>
                <td>@Html.DisplayNameFor(m => m.IntrigueAndIlldeads)</td>
                <td>@Html.DisplayFor(m => m.IntrigueAndIlldeads)</td>
                <td>@Html.HiddenFor(m => m.IntrigueAndIlldeads)</td>
            </tr>
        }
        @if (Model.KnowledgeAndMysteries > 0)
        {
            <tr>
                <td>@Html.DisplayNameFor(m => m.KnowledgeAndMysteries)</td>
                <td>@Html.DisplayFor(m => m.KnowledgeAndMysteries)</td>
                <td>@Html.HiddenFor(m => m.KnowledgeAndMysteries)</td>
            </tr>
        }
        @if (Model.BattlesAndSkirmishes > 0)
        {
            <tr>
                <td>@Html.DisplayNameFor(m => m.BattlesAndSkirmishes)</td>
                <td>@Html.DisplayFor(m => m.BattlesAndSkirmishes)</td>
                <td>@Html.HiddenFor(m => m.BattlesAndSkirmishes)</td>
            </tr>
        }
    </tbody>
</table>