@model Niklasson.EonIV.Models.BusinessObjects.Archetype

@{
    object attributes = new { @class = "eon-label"};
}
<div class="eon-label">
    @Html.DisplayFor(m => m.Name)
</div>
    @Html.HiddenFor(m => m.Name)

<div class="eon-label">
    Händelsetabeller
</div>
@Html.EditorFor(m => m.EventRolls)

<div class="eon-label">
    Färdigheter
</div>
@Html.EditorFor(m => m.Skillpoints)

<div id="resources">
    <div class="eon-label">
        Utrusting & rusurser
    </div>
    @Html.EditorFor(m => m.Resources)

    <div class="eon-sublabel">
        Välj två av nedanstående alternativ
    </div>
    @Html.EditorFor(m => m.PickTwoResources)
</div>

<script src="~/js/EonIvCharacters/archetypePartialView.js"></script>